<!DOCTYPE html>
<html lang="en">
<script>
function includeHTML() {
  var z, i, elmnt, file, xhttp;
  /*loop through a collection of all HTML elements:*/
  z = document.getElementsByTagName("*");
  for (i = 0; i < z.length; i++) {
    elmnt = z[i];
    /*search for elements with a certain atrribute:*/
    file = elmnt.getAttribute("w3-include-html");
    if (file) {
      /*make an HTTP request using the attribute value as the file name:*/
      xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4) {
          if (this.status == 200) {elmnt.innerHTML = this.responseText;}
          if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
          /*remove the attribute, and call this function once more:*/
          elmnt.removeAttribute("w3-include-html");
          includeHTML();
        }
      }
      xhttp.open("GET", file, true);
      xhttp.send();
      /*exit the function:*/
      return;
    }
  }
}
</script>

<head>
    <meta charset="UTF-8">
    <title>Guoying Dong</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div style="min-width: 500px; max-width: 1500px; margin:0 auto">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'mainpage:index' %}">Guoying Dong</a>
        </div>

        <div class="collapse navbar-collapse" id="topNavBar">

            <ul class="nav navbar-nav">
                <li class="{% block homo3d_active %}{% endblock %}">
                    <a href="{% url 'mainpage:homo3d' %}">
                        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>&nbsp; Homo3d code
                    </a>
                </li>
                <li class="{% block database_active %}{% endblock %}">
                    <a href="{% url 'mainpage:index' %}">
                        <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>&nbsp; Database
                    </a>
                </li>
                <li class="{% block download_active %}{% endblock %}">
                    <a href="{% url 'mainpage:download' %}">
                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp; Download
                    </a>
                </li>
                <li class="{% block publication_active %}{% endblock %}">
                    <a href="{% url 'mainpage:publication' %}">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp; Publications
                    </a>
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li class="{% block aboutme_active %}{% endblock %}">
                    <a href="{% url 'mainpage:aboutme' %}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; About me
                    </a>
                </li>
            </ul>



        </div>



    </div>
</nav>

<div w3-include-html="publication.html"></div>
<script>
includeHTML();
</script>

<div w3-include-html="homogenization.html"></div>
<script>
includeHTML();
</script>

<div class="ex-end">
    <img style="float: right" src="static/img/logo.png" width="500" height="60">
    Copyright © 2018 Guoying Dong<br>
    Department of Mechanical Engineering, McGill University<br>
    817 Sherbrooke Street West Montreal, Quebec H3A 0C3, CANADA
</div>

</body>
</html>
